@media(max-width: 480px){
    .Each_slide>div {
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
        background-size: 100% 250px;
    }


    .NewsTitle{
        width: 390px;
        height: 100px;
        background-color: #d8d8d899;
        /* float: right; */
        margin-top: -50px;
        text-align: left;
    }

    .NewsTitle span{
        padding: 5px 10px;
        font-size: 12px;
        border-bottom: 1px solid #b0001c;
        margin: 20px;
        font-weight: 700;
    }

      .NewsTitle p {
          padding: 10px;
          font-size: 16px;
          margin: 20px;
          padding-top: 0;
          font-family: 'Poppins',
          sans-serif;
      }
}

