@media (max-width: 480px) {
  .Container {
    overflow: auto;
    display: flex;
  }
  .Title{
    width: 100%;
    background-color: whitesmoke;
    height: 30px;
    margin-top: 20px;
  }

  .Title p{
    font-size: 14px;
    margin-bottom: 0;
    font-family: "Playfair Display', serif";
    height: 15px;
    display: contents;
    text-shadow: 0px 5px 5px #a9a6a6;
    font-weight: 600;
  }
}
