@media (max-width: 480px) {

  .HorizontalCard {
    width: 45%;
    display: inline-block;
    background-color: rgb(245, 245, 245);
    margin: 10px 5px;
    box-sizing: border-box;
    box-shadow: 1px 3px 5px #ccc;
  }

  .HorizontalCard img {
    width: 170px;
    height: 90px;
  }

  .Card_Content {
    margin-top: 0;
    text-align: left;
    padding: 5px;
    font-size: 12px;
    color: #6f6c6c;
  }
}
