@media (max-width: 480px) {
  .Pagination {
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .Pagination a {
    padding: 5px 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #dddd;
    color: #607d8b;
    cursor: pointer;
    font-size: 10px;
    font-weight: 600;
  }

  .Pagination a:active,
  .Pagination .Active a {
    border: 1px solid #607d8b;
  }
}
