.NewsCard{
    height: 300px;
    width: 30%;
    background-color: #eee;
    margin-right: 12px;
    box-shadow: 1px 1px 1px #ccc;
     margin-top:15px;
}

@media(max-width:480px){
    .NewsCard{
        margin: 20px auto;
        height: 220px;
        width: 90%;
        background-color: rgb(255, 255, 255);
        box-shadow: 1px 3px 5px #ccc;
        box-sizing: border-box;
    }
    
    .ImgCard{
        box-sizing: border-box;
        margin: 5px auto;
        height: 150px;
        width: 100%;
        background-color: #eee;
    }

}