/* .NewsCards{
    width: 100%;
} */

@media (max-width: 480px) {
  .NewsCards h1 {
    /* font-size: 25px; */
    font-family: "Cormorant Unicase", serif;
    text-decoration: underline #dddd;
  }
}
