/* .NewsCards{
    width: 100%;
} */

@media (max-width: 480px) {
  .NewsCards h1 {
    /* font-size: 25px; */
    font-family: "Cormorant Unicase", serif;
    text-shadow: 0px 5px 5px #a9a6a6;
  }
}
