@media (max-width: 480px) {
  .Layout {
    width: 100%;
    height: 45px;
    background-image: linear-gradient(#181717, #414141);
    position: fixed;
    z-index: 1000;
    top: 0;
    font-size: 30px;
    padding: 0;
    font-weight: 700;
    color: rgb(236 236 236);
    font-family: "Berkshire Swash", cursive;
    box-shadow: 0px 3px 5px #676565;
    line-height: 150%;
  }

  .Layout span {
    font-size: 15px;
    padding: 0;
    margin: 0px auto;
    font-family: "Cormorant Unicase", serif;
    font-weight: bold;
    /* text-shadow: 3px -3px 4px rgb(226, 227, 228) */
  }
}
