    .Navigation h4 {
        display: inline-block;
        padding: 0 15px;
    }

    @media(max-width: 480px) {
        .Navigation {
            padding: 0 5px;
            margin-top: 90px;
            display: inline-block;
            height: 25px;
            font-weight: 300;
        }
        
        .Navigation:hover, .Navigation:active{
            background-color: #44749d;
            color: white;
            border-radius: 5px;
        }

      

    }