@media (max-width: 480px) {
  .Footer {
    position: absolute;
    width: 100%;
    background-color: #dad8d8;
    color: #676262;
    text-align: center;
    font-size: 12px;
  }

  .Icon {
    margin: 10px;
  }

  .Footer h2 {
    font-family: "Berkshire Swash", cursive;
  }
}
